.form-floating > .ee-form-select.empty ~ label {
    color: rgb(33, 37, 41);
    transform: unset;
}
.ee-form-input {
    .ee-form-label {
        
    }
    .ee-form-control {

    }
    .ee-form-errors {
        .ee-form-error {
            
        }
    }
    .ee-upload-description {
        font-size: 0.6em;
        color: #666;
        margin-top: 1em;
    }
    .ee-form-uploader {
        text-align: center;
        max-width: 500px;
        position: relative;
        cursor: pointer;
        border: 1px dashed var(--bs-body-color);
        padding: 4px;
        border-radius: 5px;
        .ee-image {
            max-width: 100%;
            cursor: default;
        }
        .ee-image.ee-thumbnail-selector {
            cursor: pointer;
        }
        .ee-image.ee-thumbnail-selector:hover {
            border: 4px solid var(--bs-secondary);
        }
        .ee-image.ee-image-preview.ee-image-cursor {
            cursor: pointer;
        }
        .ee-form-upload-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-weight: bold;
        }
        .ee-form-upload-clear {
            background: white;
            border-radius: 50px;
            position: absolute;
            top: 12px;
            right: 12px;
            height: 25px;
            width: 25px;
            font-size: 25px;
            line-height: 25px;
            text-align: center;
            .material-icons {
                vertical-align: top;
                line-height: 25px;
            }
        }
        .ee-image-container {
            display: flex;
            .ee-form-multiple-image-container {
                box-sizing: content-box;
                position: relative;
                display: inline-block;
                min-width: 75%;
                padding: 4px;
            }
            .ee-form-multiple-image-container:first-child {
                img.ee-thumbnail-selector,
                img.ee-thumbnail-selector:hover {
                    border: 4px solid var(--bs-primary) !important;
                    cursor: default;
                }
            }
        }
        .ee-image-container.scroll {
            overflow-x: scroll;
            padding-bottom: 12px;
        }
    }
    .ee-tag-selector {
        border: 1px solid var(--bs-border-color);
        min-width: 200px;
        padding: 1em;
        border-radius: 5px;
        margin-top: 0.25em;
        position: absolute;
        background: #fff;
        z-index: 99;
        .ee-tags {
            min-height: 200px;
            overflow-y: scroll;
            .ee-tag {
                margin-left: 0;
                margin-bottom: 0.5em;
            }
        }
    }
    .ee-tags {
        margin: 0.5em 0;
        min-height: 24px;
        .ee-tag {
            cursor: pointer;
            display: inline-block;
            vertical-align: top;
            padding: 0.5em 0.75em;
            height: 24px;
            padding-top: 7px;
            font-size: 0.75em;
            line-height: 0.75em;
            border-radius: 10px;
            font-weight: bold;
        }
        .ee-tag:hover {
            opacity: 0.75;
        }
        .input-group {
            display: inline-block;
            width: auto;
            margin: 0 4px;
            .material-icons {
                vertical-align: top;
                color: #fff;
                background: var(--bs-secondary);
                border-radius: 0 10px 10px 0;
                padding-right: 2px;
            }
            .material-icons:hover {
                cursor: pointer;
                opacity: 0.65;
            }
        }
    }
}
.ee-form-input.ee-no-label {
    .ee-form-control {
        padding-top: 0.625rem;
    }
}
.ee-form-multi-entries {
    .ee-button-container {
        .btn {
            height: 100%;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    .ee-button-container.d-grid {
        .btn {
            border-radius: var(--bs-border-radius);
        }
    }
}
.input-group > .form-control.ee-form-control-color {
    height: inherit;
    flex: 0 0 4em;
}